.project-container {
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180rem;
}

.project-section {
    display: flex;
    justify-content: center;
    width: 100rem;
    align-items: flex-start;
    flex-direction: column;
    padding-bottom: 10rem;
    
    
}

.project-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: red
}

.project-section p {
    font-size: 3rem;
    margin-bottom: 4rem;
    font-weight: 800;
}

.project-section h3 {
    font-size: 2.5rem;
    font-weight: 600;
}

.projects {
    width: 80rem;
    height: 40rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5rem;
    border-radius: 5rem;
    
}

.projects img {
    border-radius: 5rem;
    margin: 10px;
    width: 250px;
    height: 300px;
    object-fit: cover;
}

.projects-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.projects-card p {
    text-align: center;
    width: 75%;
    margin-top: 3rem;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.3rem;
    line-height: 2.5rem;
}

.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
   
    

}

.links i {
    margin-left: 0.7rem;
    font-size: 2rem;
}

.links span {
    font-size: 1.7rem;
    font-weight: 600;
}

.projects i:hover {
    color:red
}
